body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
body.selection-type-1 ::selection {
  color: #fff !important;
  background: #000 !important;
}
body.selection-type-1 ::-moz-selection {
  color: #fff !important;
  background: #000 !important;
}
body.selection-type-2 ::selection {
  color: #fff !important;
  background: #f7f7f7 !important;
}
body.selection-type-2 ::-moz-selection {
  color: #fff !important;
  background: #f7f7f7 !important;
}
.mt1 { margin-top: 1em !important; }
.w500 { max-width: 500px !important; }
section {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 600ms ease-out;
  visibility: hidden;
}
section pre {
  margin: 0;
  padding: 2em;
  font-size: 1em;
}
section code {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
#progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  z-index: 10;
  background: #00009f;
  transition: width 500ms ease-out;
}
a {
  text-decoration: underline;
  color: #00009f;
}
ul {
  list-style: none;
}
ul li::before {
  content: "• ";
  font-size: 0.8em;
}
h1, h2, h3, p, ul {
  padding: 0 2em;
  margin: 0.5em 0;
  text-align: center;
}
h1 {
  font-size: 2em;
  line-height: 0.6em;
}
h1 small {
  font-size: 0.4em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.2em;
}
p code {
  font-family: inherit;
  background: #ccc;
  padding: 0 0.2em;
}

:not(pre)>code[class*=language-], pre[class*=language-] {
  background: none !important;
}
.line-highlight:before, .line-highlight[data-end]:after {
  display: none !important;
}
.line-highlight {
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
  left: 2em;
	border-left: solid 6px #000;
	transform: scaleX(0.91);
	transform-origin: left;
  background: none;
}
.line-highlight::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: #000;
}
.line-highlight[data-start="0"] {
  display: none !important;
}