body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
section {
  position: absolute;
  top: 0;
  left: 0;
}
section pre {
  margin: 0;
  padding: 4em;
  font-size: 1em;
}
section code {
  margin: 0;
  padding: 0;
  font-size: 1em;
}