body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
section {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 600ms ease-out;
  visibility: hidden;
}
section pre {
  margin: 0;
  padding: 4em;
  font-size: 1em;
}
section code {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
#progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  z-index: 10;
  background: #999;
  transition: width 500ms ease-out;
}
/* Typography */
h1, h2, h3, p {
  padding: 0 2em;
  margin: 0 0 1em 0;
  text-align: center;
}
h1 {
  font-size: 2em;
  line-height: 0.6em;
}
h1 small {
  font-size: 0.4em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.2em;
}
/* layout */
.mt1 { margin-top: 1em !important; }
.w500 { max-width: 500px !important; }